<a href="https://colab.research.google.com/github/Jig3008/PandasAtoZ/blob/main/AllAboutPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **This file is all about Python Coding. All practices has been done via the course on https://www.codecademy.com/courses/data-processing-pandas/.**

In [2]:
import pandas as pd

In [4]:
#We normally create a dataframe by using the DataFrame function of Pandas

#Example 1

df1 = pd.DataFrame({
    'Row ID' : [1,2,3],
    'Name' : ['A','B','C'],
    'Role' : ['Engg','Artist','Gamer'],
    'Location' : ['X','Y','Z']
})

print(df1)

   Row ID Name    Role Location
0       1    A    Engg        X
1       2    B  Artist        Y
2       3    C   Gamer        Z

In [8]:
#Another way of doing this is

df2 = pd.DataFrame([
    [1,'A','Engg','X'],
    [2,'B','Artist','Y'],
    [3,'C','Gamer','Z']
],columns=['Row ID','Name','Role','Location'])

print(df2)

   Row ID Name    Role Location
0       1    A    Engg        X
1       2    B  Artist        Y
2       3    C   Gamer        Z

In [10]:
#Reading a file and then getting its top 10 rows plus its info

imbdMovieDf = pd.read_csv('IMDBMovies.csv')
imbdMovieDf.head(10)

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
5   6                                  Star Wars  action  1977          8.7
6   7                    Avengers: Age of Ultron  action  2015          7.9
7   8                      The Dark Knight Rises  action  2012          8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006          7.3
9  10                                 Iron Man 3  action  2013          7.3

In [11]:
imbdMovieDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           220 non-null    int64
 1   name         220 non-null    object
 2   genre        220 non-null    object
 3   year         220 non-null    int64
 4   imdb_rating  220 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.7+ KB

In [12]:
'''
If we want to get the entire information from a specific column
we can write either df[column_name] or df.column_name (this would work
in case the column follows all column naming standards)
'''
movie_name = imbdMovieDf['name']
print(movie_name)
print(type(movie_name)) #This would print the type as Series
print(type(imbdMovieDf)) #This would print the type as DataFrame

0                                         Avatar
1                                 Jurassic World
2                                   The Avengers
3                                The Dark Knight
4      Star Wars: Episode I - The Phantom Menace
                         ...
215                                     Hannibal
216                          Catch Me If You Can
217                                    Big Daddy
218                                        Se7en
219                                        Seven
Name: name, Length: 220, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
'''
If we want to get information from multiple columns,
we would send a list of all column names
'''

movie_name_year = imbdMovieDf[['name','year']]
print(movie_name_year)
print(type(movie_name_year)) #This would print the type as DataFrame

                                          name  year
0                                       Avatar  2009
1                               Jurassic World  2015
2                                 The Avengers  2012
3                              The Dark Knight  2008
4    Star Wars: Episode I - The Phantom Menace  1999
..                                         ...   ...
215                                   Hannibal  2001
216                        Catch Me If You Can  2002
217                                  Big Daddy  1999
218                                      Se7en  1995
219                                      Seven  1979

[220 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [14]:
#If we want to get a information about a specific row, we use the iloc command

imbdMovieDf.head(10)

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
5   6                                  Star Wars  action  1977          8.7
6   7                    Avengers: Age of Ultron  action  2015          7.9
7   8                      The Dark Knight Rises  action  2012          8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006          7.3
9  10                                 Iron Man 3  action  2013          7.3

In [18]:
row3 = imbdMovieDf.iloc[3]
print(row3)
print(type(row3))

id                           4
name           The Dark Knight
genre                   action
year                      2008
imdb_rating                9.0
Name: 3, dtype: object
<class 'pandas.core.series.Series'>

In [22]:
#If we want to print multiple rows, we can pass the series of the row numbers
#dataFrame.iloc[10:] -> 10 to the end of dataframe
#dataFrame.iloc[10:15] -> 10 to 14 of dataframe
#dataFrame.iloc[-5:] -> 5 rows from the end of dataframe

print(imbdMovieDf.iloc[-10:])

      id                 name  genre  year  imdb_rating
210  211     A Beautiful Mind  drama  2001          8.2
211  212             The Help  drama  2011          8.1
212  213     3 Men and a Baby  drama  1987          5.9
213  214            Gone Girl  drama  2014          8.2
214  215      Kung Fu Panda 2  drama  2011          7.3
215  216             Hannibal  drama  2001          6.7
216  217  Catch Me If You Can  drama  2002          8.0
217  218            Big Daddy  drama  1999          6.4
218  219                Se7en  drama  1995          8.6
219  220                Seven  drama  1979          6.1

In [25]:
#Lets say if we want to print the information for the movie released in the year 2008

movie_2008 = imbdMovieDf[imbdMovieDf['year'] == 2008]
print(movie_2008)
print(type(movie_2008)) #This would also retuen type as dataframe

      id                                               name    genre  year  \
3      4                                    The Dark Knight   action  2008
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
84    85                                      Kung Fu Panda   comedy  2008
126  127                                        Cloverfield   horror  2008
158  159                                           Twilight  romance  2008
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008

     imdb_rating
3            9.0
20           7.9
21           6.2
84           7.6
126          7.1
158          5.2
175          5.5
183          6.4
185          7.1
187          8.0
<class 'pandas.core.frame.DataFrame'>

In [28]:
#Lets say if we want to print the information for the movie released in the year 2008 or year 2009

movie_2008_2009 = imbdMovieDf[(imbdMovieDf['year'] == 2008) | (imbdMovieDf['year'] == 2009)]
print(movie_2008_2009)

#This can be achieved via another command - isin()

movie_2008_2009_withIsIN = imbdMovieDf[imbdMovieDf['year'].isin(
    [2008,2009]
)]

print(movie_2008_2009_withIsIN)

      id                                               name    genre  year  \
0      1                                             Avatar   action  2009
3      4                                    The Dark Knight   action  2008
11    12                Transformers: Revenge of the Fallen   action  2009
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
37    38                                          Star Trek   action  2009
58    59                                                 Up   comedy  2009
62    63                                       The Hangover   comedy  2009
78    79            Alvin and the Chipmunks: The Squeakquel   comedy  2009
84    85                                      Kung Fu Panda   comedy  2008
93    94                                Monsters vs. Aliens   comedy  2009
95    96                     Ice Age: Dawn of the Dinosaurs   comedy  2009
126  127                                        Cloverfield   horror  2008
129  130                                         Zombieland   horror  2009
140  141                              The Final Destination   horror  2009
144  145                                    Friday the 13th   horror  2009
149  150                        The Twilight Saga: New Moon  romance  2009
158  159                                           Twilight  romance  2008
172  173                                       The Proposal  romance  2009
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008
195  196                                     The Blind Side    drama  2009

     imdb_rating
0            7.9
3            9.0
11           6.0
20           7.9
21           6.2
37           8.0
58           8.3
62           7.8
78           4.4
84           7.6
93           6.6
95           7.0
126          7.1
129          7.7
140          5.2
144          5.6
149          4.6
158          5.2
172          6.7
175          5.5
183          6.4
185          7.1
187          8.0
195          7.7
      id                                               name    genre  year  \
0      1                                             Avatar   action  2009
3      4                                    The Dark Knight   action  2008
11    12                Transformers: Revenge of the Fallen   action  2009
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
37    38                                          Star Trek   action  2009
58    59                                                 Up   comedy  2009
62    63                                       The Hangover   comedy  2009
78    79            Alvin and the Chipmunks: The Squeakquel   comedy  2009
84    85                                      Kung Fu Panda   comedy  2008
93    94                                Monsters vs. Aliens   comedy  2009
95    96                     Ice Age: Dawn of the Dinosaurs   comedy  2009
126  127                                        Cloverfield   horror  2008
129  130                                         Zombieland   horror  2009
140  141                              The Final Destination   horror  2009
144  145                                    Friday the 13th   horror  2009
149  150                        The Twilight Saga: New Moon  romance  2009
158  159                                           Twilight  romance  2008
172  173                                       The Proposal  romance  2009
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008
195  196                                     The Blind Side    drama  2009

     imdb_rating
0            7.9
3            9.0
11           6.0
20           7.9
21           6.2
37           8.0
58           8.3
62           7.8
78           4.4
84           7.6
93           6.6
95           7.0
126          7.1
129          7.7
140          5.2
144          5.6
149          4.6
158          5.2
172          6.7
175          5.5
183          6.4
185          7.1
187          8.0
195          7.7

In [29]:
#When we want to reset the index and also have re-ordering done, we use reset_index()
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.loc[[1, 3, 5]]
print(df2)

df3 = df2.reset_index()
print(df3)

df2.reset_index(inplace= True ,drop = True)
print(df2)

      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129
   index     month  clinic_east  clinic_north  clinic_south  clinic_west
0      1  February           51            45           145           45
1      3     April           80            80            54          180
2      5      June          112           109            79          129
      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129

In [ ]:
#Exercise 1