<a href="https://colab.research.google.com/github/Jig3008/PandasAtoZ/blob/main/AllAboutPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **This file is all about Python Coding. All practices has been done via the course on https://www.codecademy.com/courses/data-processing-pandas/.**

In [5]:
import pandas as pd

In [6]:
#We normally create a dataframe by using the DataFrame function of Pandas

#Example 1

df1 = pd.DataFrame({
    'Row ID' : [1,2,3],
    'Name' : ['A','B','C'],
    'Role' : ['Engg','Artist','Gamer'],
    'Location' : ['X','Y','Z']
})

print(df1)

   Row ID Name    Role Location
0       1    A    Engg        X
1       2    B  Artist        Y
2       3    C   Gamer        Z

In [7]:
#Another way of doing this is

df2 = pd.DataFrame([
    [1,'A','Engg','X'],
    [2,'B','Artist','Y'],
    [3,'C','Gamer','Z']
],columns=['Row ID','Name','Role','Location'])

print(df2)

   Row ID Name    Role Location
0       1    A    Engg        X
1       2    B  Artist        Y
2       3    C   Gamer        Z

In [8]:
#Reading a file and then getting its top 10 rows plus its info

imbdMovieDf = pd.read_csv('IMDBMovies.csv')
imbdMovieDf.head(10)

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
5   6                                  Star Wars  action  1977          8.7
6   7                    Avengers: Age of Ultron  action  2015          7.9
7   8                      The Dark Knight Rises  action  2012          8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006          7.3
9  10                                 Iron Man 3  action  2013          7.3

In [9]:
imbdMovieDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           220 non-null    int64
 1   name         220 non-null    object
 2   genre        220 non-null    object
 3   year         220 non-null    int64
 4   imdb_rating  220 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.7+ KB

In [10]:
'''
If we want to get the entire information from a specific column
we can write either df[column_name] or df.column_name (this would work
in case the column follows all column naming standards)
'''
movie_name = imbdMovieDf['name']
print(movie_name)
print(type(movie_name)) #This would print the type as Series
print(type(imbdMovieDf)) #This would print the type as DataFrame

0                                         Avatar
1                                 Jurassic World
2                                   The Avengers
3                                The Dark Knight
4      Star Wars: Episode I - The Phantom Menace
                         ...
215                                     Hannibal
216                          Catch Me If You Can
217                                    Big Daddy
218                                        Se7en
219                                        Seven
Name: name, Length: 220, dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [11]:
'''
If we want to get information from multiple columns,
we would send a list of all column names
'''

movie_name_year = imbdMovieDf[['name','year']]
print(movie_name_year)
print(type(movie_name_year)) #This would print the type as DataFrame

                                          name  year
0                                       Avatar  2009
1                               Jurassic World  2015
2                                 The Avengers  2012
3                              The Dark Knight  2008
4    Star Wars: Episode I - The Phantom Menace  1999
..                                         ...   ...
215                                   Hannibal  2001
216                        Catch Me If You Can  2002
217                                  Big Daddy  1999
218                                      Se7en  1995
219                                      Seven  1979

[220 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>

In [12]:
#If we want to get a information about a specific row, we use the iloc command

imbdMovieDf.head(10)

   id                                       name   genre  year  imdb_rating
0   1                                     Avatar  action  2009          7.9
1   2                             Jurassic World  action  2015          7.3
2   3                               The Avengers  action  2012          8.1
3   4                            The Dark Knight  action  2008          9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999          6.6
5   6                                  Star Wars  action  1977          8.7
6   7                    Avengers: Age of Ultron  action  2015          7.9
7   8                      The Dark Knight Rises  action  2012          8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006          7.3
9  10                                 Iron Man 3  action  2013          7.3

In [13]:
row3 = imbdMovieDf.iloc[3]
print(row3)
print(type(row3))

id                           4
name           The Dark Knight
genre                   action
year                      2008
imdb_rating                9.0
Name: 3, dtype: object
<class 'pandas.core.series.Series'>

In [14]:
#If we want to print multiple rows, we can pass the series of the row numbers
#dataFrame.iloc[10:] -> 10 to the end of dataframe
#dataFrame.iloc[10:15] -> 10 to 14 of dataframe
#dataFrame.iloc[-5:] -> 5 rows from the end of dataframe

print(imbdMovieDf.iloc[-10:])

      id                 name  genre  year  imdb_rating
210  211     A Beautiful Mind  drama  2001          8.2
211  212             The Help  drama  2011          8.1
212  213     3 Men and a Baby  drama  1987          5.9
213  214            Gone Girl  drama  2014          8.2
214  215      Kung Fu Panda 2  drama  2011          7.3
215  216             Hannibal  drama  2001          6.7
216  217  Catch Me If You Can  drama  2002          8.0
217  218            Big Daddy  drama  1999          6.4
218  219                Se7en  drama  1995          8.6
219  220                Seven  drama  1979          6.1

In [15]:
#Lets say if we want to print the information for the movie released in the year 2008

movie_2008 = imbdMovieDf[imbdMovieDf['year'] == 2008]
print(movie_2008)
print(type(movie_2008)) #This would also retuen type as dataframe

      id                                               name    genre  year  \
3      4                                    The Dark Knight   action  2008
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
84    85                                      Kung Fu Panda   comedy  2008
126  127                                        Cloverfield   horror  2008
158  159                                           Twilight  romance  2008
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008

     imdb_rating
3            9.0
20           7.9
21           6.2
84           7.6
126          7.1
158          5.2
175          5.5
183          6.4
185          7.1
187          8.0
<class 'pandas.core.frame.DataFrame'>

In [16]:
#Lets say if we want to print the information for the movie released in the year 2008 or year 2009

movie_2008_2009 = imbdMovieDf[(imbdMovieDf['year'] == 2008) | (imbdMovieDf['year'] == 2009)]
print(movie_2008_2009)

#This can be achieved via another command - isin()

movie_2008_2009_withIsIN = imbdMovieDf[imbdMovieDf['year'].isin(
    [2008,2009]
)]

print(movie_2008_2009_withIsIN)

      id                                               name    genre  year  \
0      1                                             Avatar   action  2009
3      4                                    The Dark Knight   action  2008
11    12                Transformers: Revenge of the Fallen   action  2009
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
37    38                                          Star Trek   action  2009
58    59                                                 Up   comedy  2009
62    63                                       The Hangover   comedy  2009
78    79            Alvin and the Chipmunks: The Squeakquel   comedy  2009
84    85                                      Kung Fu Panda   comedy  2008
93    94                                Monsters vs. Aliens   comedy  2009
95    96                     Ice Age: Dawn of the Dinosaurs   comedy  2009
126  127                                        Cloverfield   horror  2008
129  130                                         Zombieland   horror  2009
140  141                              The Final Destination   horror  2009
144  145                                    Friday the 13th   horror  2009
149  150                        The Twilight Saga: New Moon  romance  2009
158  159                                           Twilight  romance  2008
172  173                                       The Proposal  romance  2009
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008
195  196                                     The Blind Side    drama  2009

     imdb_rating
0            7.9
3            9.0
11           6.0
20           7.9
21           6.2
37           8.0
58           8.3
62           7.8
78           4.4
84           7.6
93           6.6
95           7.0
126          7.1
129          7.7
140          5.2
144          5.6
149          4.6
158          5.2
172          6.7
175          5.5
183          6.4
185          7.1
187          8.0
195          7.7
      id                                               name    genre  year  \
0      1                                             Avatar   action  2009
3      4                                    The Dark Knight   action  2008
11    12                Transformers: Revenge of the Fallen   action  2009
20    21                                           Iron Man   action  2008
21    22  Indiana Jones and the Kingdom of the Crystal S...   action  2008
37    38                                          Star Trek   action  2009
58    59                                                 Up   comedy  2009
62    63                                       The Hangover   comedy  2009
78    79            Alvin and the Chipmunks: The Squeakquel   comedy  2009
84    85                                      Kung Fu Panda   comedy  2008
93    94                                Monsters vs. Aliens   comedy  2009
95    96                     Ice Age: Dawn of the Dinosaurs   comedy  2009
126  127                                        Cloverfield   horror  2008
129  130                                         Zombieland   horror  2009
140  141                              The Final Destination   horror  2009
144  145                                    Friday the 13th   horror  2009
149  150                        The Twilight Saga: New Moon  romance  2009
158  159                                           Twilight  romance  2008
172  173                                       The Proposal  romance  2009
175  176                                   Sex and the City  romance  2008
183  184                                         Mamma Mia!  romance  2008
185  186                                        Marley & Me  romance  2008
187  188                                Slumdog Millionaire  romance  2008
195  196                                     The Blind Side    drama  2009

     imdb_rating
0            7.9
3            9.0
11           6.0
20           7.9
21           6.2
37           8.0
58           8.3
62           7.8
78           4.4
84           7.6
93           6.6
95           7.0
126          7.1
129          7.7
140          5.2
144          5.6
149          4.6
158          5.2
172          6.7
175          5.5
183          6.4
185          7.1
187          8.0
195          7.7

In [17]:
#When we want to reset the index and also have re-ordering done, we use reset_index()
df = pd.DataFrame([
  ['January', 100, 100, 23, 100],
  ['February', 51, 45, 145, 45],
  ['March', 81, 96, 65, 96],
  ['April', 80, 80, 54, 180],
  ['May', 51, 54, 54, 154],
  ['June', 112, 109, 79, 129]],
  columns=['month', 'clinic_east',
           'clinic_north', 'clinic_south',
           'clinic_west']
)

df2 = df.loc[[1, 3, 5]]
print(df2)

df3 = df2.reset_index()
print(df3)

df2.reset_index(inplace= True ,drop = True)
print(df2)

      month  clinic_east  clinic_north  clinic_south  clinic_west
1  February           51            45           145           45
3     April           80            80            54          180
5      June          112           109            79          129
   index     month  clinic_east  clinic_north  clinic_south  clinic_west
0      1  February           51            45           145           45
1      3     April           80            80            54          180
2      5      June          112           109            79          129
      month  clinic_east  clinic_north  clinic_south  clinic_west
0  February           51            45           145           45
1     April           80            80            54          180
2      June          112           109            79          129

In [22]:
#Exercise 1: Analysis of the ShoeFly database

orders = pd.read_csv('shoefly.csv')

#Inspect the first 5 lines of data
print(orders.head())

#Your marketing department wants to send out an email blast to everyone who ordered shoes!

emails = orders['email']
print(emails)

#Frances Palmer claims that her order was wrong. What did Frances Palmer order?

frances_palmer = orders[(orders['first_name'] == 'Frances') | (orders['last_name'] == 'Palmer')]
print(frances_palmer)

#We need some customer reviews for our comfortable shoes. Select all orders for shoe_type: clogs, boots, and ballet flats and save them to the variable comfy_shoes.
comfy_shoes = orders[orders['shoe_type'].isin(['clogs','boots','ballet flats'])]
print(comfy_shoes)

      id first_name last_name                         email     shoe_type  \
0  54791    Rebecca   Lindsay  RebeccaLindsay57@hotmail.com         clogs
1  53450      Emily     Joyce        EmilyJoyce25@gmail.com  ballet flats
2  91987      Joyce    Waller        Joyce.Waller@gmail.com       sandals
3  14437     Justin  Erickson   Justin.Erickson@outlook.com         clogs
4  79357     Andrew     Banks              AB4318@gmail.com         boots

  shoe_material shoe_color
0  faux-leather      black
1  faux-leather       navy
2        fabric      black
3  faux-leather        red
4       leather      brown
0     RebeccaLindsay57@hotmail.com
1           EmilyJoyce25@gmail.com
2           Joyce.Waller@gmail.com
3      Justin.Erickson@outlook.com
4                 AB4318@gmail.com
5           JulieMarsh59@gmail.com
6                 TJ5470@gmail.com
7           Janice.Hicks@gmail.com
8        GabrielPorter24@gmail.com
9        FrancesPalmer50@gmail.com
10         JessicaHale25@gmail.com
11      LawrenceParker44@gmail.com
12         SusanDennis58@gmail.com
13                DO2680@gmail.com
14       Rebecca.Charles@gmail.com
15              JC2072@hotmail.com
16              VS4753@outlook.com
17          RoyTillman20@gmail.com
18       Thomas.Roberson@gmail.com
19         ANewton1977@outlook.com
Name: email, dtype: object
      id first_name last_name                      email shoe_type  \
9  62083    Frances    Palmer  FrancesPalmer50@gmail.com    wedges

  shoe_material shoe_color
9       leather      white
       id first_name   last_name                         email     shoe_type  \
0   54791    Rebecca     Lindsay  RebeccaLindsay57@hotmail.com         clogs
1   53450      Emily       Joyce        EmilyJoyce25@gmail.com  ballet flats
3   14437     Justin    Erickson   Justin.Erickson@outlook.com         clogs
4   79357     Andrew       Banks              AB4318@gmail.com         boots
6   20487     Thomas      Jensen              TJ5470@gmail.com         clogs
7   76971     Janice       Hicks        Janice.Hicks@gmail.com         clogs
8   21586    Gabriel      Porter     GabrielPorter24@gmail.com         clogs
10  91629    Jessica        Hale       JessicaHale25@gmail.com         clogs
12  45832      Susan      Dennis       SusanDennis58@gmail.com  ballet flats
14  73431    Rebecca     Charles     Rebecca.Charles@gmail.com         boots
16  39888    Vincent  Stephenson            VS4753@outlook.com         boots
17  35961        Roy     Tillman        RoyTillman20@gmail.com         boots

   shoe_material shoe_color
0   faux-leather      black
1   faux-leather       navy
3   faux-leather        red
4        leather      brown
6         fabric       navy
7   faux-leather       navy
8        leather      brown
10       leather        red
12        fabric      white
14  faux-leather      white
16       leather      black
17       leather      white

In [33]:
#Part 2: Adding New Columns to the Dataframe, the new column has to have data for all the rows

df4 = pd.DataFrame([
    [1,'A',23],
    [2,'B',33]
], columns = ['Sr No','Name','Age'])

df4

   Sr No Name  Age
0      1    A   23
1      2    B   33

In [34]:
df4['Job'] = ['IT','Artist']
df4

   Sr No Name  Age     Job
0      1    A   23      IT
1      2    B   33  Artist

In [35]:
#What if we have a column that has Same value for all rows.

df4['Currently Employed'] = 'Yes'
df4

   Sr No Name  Age     Job Currently Employed
0      1    A   23      IT                Yes
1      2    B   33  Artist                Yes

In [27]:
#What if you want a column that does some calculation based on some other columns of the dataset

df5 = pd.DataFrame([
  [1, '3 inch screw', 0.5, 0.75],
  [2, '2 inch nail', 0.10, 0.25],
  [3, 'hammer', 3.00, 5.50],
  [4, 'screwdriver', 2.50, 3.00]
],
  columns=['Product ID', 'Description', 'Cost to Manufacture', 'Price']
)

df5['Margin'] = df5['Price'] - df5['Cost to Manufacture']
df5

   Product ID   Description  Cost to Manufacture  Price  Margin
0           1  3 inch screw                  0.5   0.75    0.25
1           2   2 inch nail                  0.1   0.25    0.15
2           3        hammer                  3.0   5.50    2.50
3           4   screwdriver                  2.5   3.00    0.50

In [36]:
#Lets say you want to apply lower case and upper case functionality to some columns to your dataframe.

df4.head()

   Sr No Name  Age     Job Currently Employed
0      1    A   23      IT                Yes
1      2    B   33  Artist                Yes

In [37]:
df4['Lower_Case_Name'] = df4['Name'].apply(str.lower)
df4['Job'] = df4['Job'].apply(str.upper)
df4

   Sr No Name  Age     Job Currently Employed Lower_Case_Name
0      1    A   23      IT                Yes               a
1      2    B   33  ARTIST                Yes               b

In [51]:
#Some practice on Lambda function

lambdaFunction = lambda x : (x * 2) + 3
print(f'The value for function 1:{lambdaFunction(5)}')

lambdafunction2 = lambda x: x.lower()
print(f'The value for function 2:{lambdafunction2('LOWER TEXT')}')

#Create a lambda function mylambda that returns the first and last letters of a string, assuming the string is at least 2 characters long.

lambdafunction3 = lambda x : x[0] + x[-1]
print(f'The value of function 3:{lambdafunction3('This is Pandas Practice')}')

#More Complex function

def myfunction(x):
  if x > 40:
    return 40 + (x - 40) * 1.50
  else:
    return x

#The above can be written as

lambdafunction4 = lambda x: 40 + (x - 40) * 1.50 if x > 40 else x
print(f'The value for function 4:{lambdafunction4(5)}')
print(f'The value for function 4:{lambdafunction4(50)}')

#The syntax is lambda x: TRUE STATEMENT - IF CONDITION - ELSE CONDITION

#You are managing the webpage of a somewhat violent video game and you want to check that each users age is 13 or greater when they visit the site.
#Write a lambda function that takes an inputted age and either returns Welcome to BattleCity! if the user is 13 or older or You must be 13 or older
#if they are younger than 13. Your lambda function should be called mylambda.

mylambda = lambda x : 'Welcome to BattleCity!' if x >= 13 else 'You must be 13 or older'
print(mylambda(int(input('Enter the age:'))))

The value for function 1:13
The value for function 2:lower text
The value of function 3:Te
The value for function 4:5
The value for function 4:55.0
Enter the age:10
You must be 13 or older

In [52]:
#Applying lambda function on DataFrames

employeesDf = pd.read_csv('employees.csv')
employeesDf.head()

      id               name  hourly_wage  hours_worked
0  10310      Lauren Durham           19            43
1  18656      Grace Sellers           17            40
2  61254  Shirley Rasmussen           16            30
3  16886        Brian Rojas           18            47
4  89010    Samantha Mosley           11            38

In [54]:
#Create a lambda function get_last_name which takes a string with someones first and last name (i.e., John Smith), and returns just the last name (i.e., Smith).

get_last_name = lambda x : x.split(' ')[-1]
employeesDf['last name'] = employeesDf['name'].apply(get_last_name)
employeesDf.head()

      id               name  hourly_wage  hours_worked  last name
0  10310      Lauren Durham           19            43     Durham
1  18656      Grace Sellers           17            40    Sellers
2  61254  Shirley Rasmussen           16            30  Rasmussen
3  16886        Brian Rojas           18            47      Rojas
4  89010    Samantha Mosley           11            38     Mosley

In [ ]:
'''
If an employee worked for more than 40 hours, she needs to be paid overtime (1.5 times the normal hourly wage).
For instance, if an employee worked for 43 hours and made $10/hour, she would receive $400 for the first 40 hours that she worked,
and an additional $45 for the 3 hours of overtime, for a total for $445.
Create a lambda function total_earned that accepts an input row with keys hours_worked and hourly_wage and
uses an if statement to calculate the total wages earned.
'''